$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;
@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px, 30px);
    background: $background-light;
    color: floralwhite;
    min-height: 150px;
}

.header-nav {
    ul {
        li {
            padding: 0 20px;
            border-right: 1px dotted #ccc;
            &:last-child {
                border-right: 1px dotted transparent;
            }
            a {
                color: #000;
                font-size: 14px;
                text-transform: uppercase;
                &.active {
                    color: #f00;
                }
            }
        }
    }
}