<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Company name</h6>
        <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet,
          consectetur
          adipisicing elit.</p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
        <p>
          <a href="#!">MDBootstrap</a>
        </p>
        <p>
          <a href="#!">MDWordPress</a>
        </p>
        <p>
          <a href="#!">BrandFlow</a>
        </p>
        <p>
          <a href="#!">Bootstrap Angular</a>
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
        <p>
          <a href="#!">Your Account</a>
        </p>
        <p>
          <a href="#!">Become an Affiliate</a>
        </p>
        <p>
          <a href="#!">Shipping Rates</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p>
          <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
        <p>
          <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left">© 2018 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/">
            <strong> MDBootstrap.com</strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0">

        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-google-plus-g"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->

<div class="footer" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px">
  <div class="container">

    <div fxFlex="100" fxFlex.gt-sm="50">
      <div fxLayout="row">
        <div fxFlex="40" fxFlexOffset="20px">
          <h4>Links</h4>
          <mat-list>
            <mat-list-item routerLink="/home">
              <a mat-button>Home</a>
            </mat-list-item>
            <mat-list-item routerLink="/about">
              <a mat-button>About</a>
            </mat-list-item>
            <mat-list-item routerLink="/menu">
              <a mat-button>Menu</a>
            </mat-list-item>
            <mat-list-item routerLink="/contact">
              <a mat-button>Contact</a>
            </mat-list-item>
          </mat-list>
        </div>
        <div fxFlex="55">
          <h4>Our Address</h4>
          <address style="text-size: 80%">
            121, Clear Water Bay Road
            <br> Clear Water Bay, Kowloon
            <br> HONG KONG
            <br>
            <i class="fa fa-phone"></i>: +852 1234 5678
            <br>
            <i class="fa fa-fax"></i>: +852 8765 4321
            <br>
            <i class="fa fa-envelope"></i>:
            <a href="mailto:confusion@food.net">confusion@food.net</a>
          </address>
        </div>
      </div>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="45">
      <div style="text-align:center">
        <a mat-icon-button class="btn-google-plus" href="http://google.com/+">
          <i class="fa fa-google-plus fa-lg"></i>
        </a>
        <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id=">
          <i class="fa fa-facebook fa-lg"></i>
        </a>
        <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/">
          <i class="fa fa-linkedin fa-lg"></i>
        </a>
        <a mat-icon-button class="btn-twitter" href="http://twitter.com/">
          <i class="fa fa-twitter fa-lg"></i>
        </a>
        <a mat-icon-button class="btn-youtube" href="http://youtube.com/">
          <i class="fa fa-youtube fa-lg"></i>
        </a>
        <a mat-icon-button class="btn-mail" href="mailto:">
          <i class="fa fa-envelope-o fa-lg"></i>
        </a>
      </div>
    </div>
    <div>
      <p>© Copyright 2018 Ristorante Con Fusion</p>
    </div>
  </div>
</div>