<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px" fxLayoutGap.xs="0">

  <div fxFlex="60" *ngIf="product">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{ product.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{BaseURL + product.image}}" alt="{{product.name}}">
      <mat-card-content>
        <p>sad : {{ product.description }}
        </p>
      </mat-card-content>
      <mat-card-actions>

        <button mat-button [routerLink]="['/productdetail', prev]">
          <span class="fa fa-chevron-left fa-lg"></span>
        </button>

        <button mat-button (click)="goBack()">Back</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>


        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/productdetail', next]">
          <span class="fa fa-chevron-right fa-lg"></span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>


  <div fxFlex="40" *ngIf="product">
    <mat-list>
      <h3> Comments </h3>
      <mat-list-item *ngFor="let comment of product.comments">
        <p>{{ comment.comment }}</p>
        <p>{{ comment.rating }} stars</p>
        <p>
          <span> {{ comment.author }} </span>
          <span>{{ comment.date | date}}</span>
        </p>
      </mat-list-item>
    </mat-list>

  </div>


  <div [hidden]="product">
    <mat-spinner></mat-spinner>
    <h4>Loading.. Pl. wait!</h4>
  </div>


  <div flex>
    <mat-list *ngIf="submitReview.valid">
      <mat-list-item>
        <p matLine>{{ submitReview.get('comment').value }}</p>
        <p matLine>{{ submitReview.get('rating').value }} stars</p>
        <p matLine>
          <span>-- {{ submitReview.get('author').value}} </span>
        </p>
      </mat-list-item>
    </mat-list>

    <form novalidate [formGroup]="submitReview" #fform="ngForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field class="half-width">
          <input matInput formControlName="author" placeholder="Name" type="text">
          <mat-error *ngIf="reviewErrors.author">{{ reviewErrors.author }}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-slider max="5" min="1" step="1" tickInterval="1" thumbLabel="true" formControlName="rating"></mat-slider>
      </p>
      <p>
        <mat-form-field>
          <textarea matInput formControlName="comment" rows="4" placeholder="Your Comment"></textarea>
          <mat-error *ngIf="reviewErrors.comment">{{ reviewErrors.comment }}</mat-error>
        </mat-form-field>
      </p>
      <button type="submit" [disabled]="submitReview.invalid" mat-button class="background-primary text-floral-white">Submit</button>
    </form>

  </div>

</div>