<div class="product-container" fxlayout="column" fxLayoutGap="0px">
  <div fxFlex>
    <mat-grid-list cols="2">
      <!-- <mat-grid-tile *ngFor="let pro of product" (click)="onSelect(pro)"> -->
      <mat-grid-tile *ngFor="let pro of product" [routerLink]="['/productdetail/', pro.id]">
        <span>{{ pro.id }}</span>
        <img height="200px" src={{pro.image}} alt={{pro.name}}>
        <mat-grid-tile-footer>
          <h1> {{pro.name | uppercase}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div fxFlex *ngIf="selectedProduct">
    <mat-card>
      <mat-card-header>
        <h3>{{ selectedProduct.name | uppercase }}</h3>
      </mat-card-header>

      <img mat-card-image src={{selectedProduct.image}}>

      <mat-card-content>
        <p>
          <strong>descr :</strong> {{ selectedProduct.description }}</p>
        <hr>
        <p>
          <strong>label :</strong> {{ selectedProduct.label }}</p>
        <hr>
        <p>
          <strong>price :</strong> {{ selectedProduct.price }}</p>
        <hr>
        <br>
        <br>

        <div *ngFor="let comment of selectedProduct.comments">
          <span>
            <strong>ratings :</strong> {{ comment.rating }}</span>
          <br>
          <span>
            <strong>comments :</strong> {{ comment.comment }}</span>

          <br>
          <span>
            <strong>author :</strong> {{ comment.author }}</span>
          <br>
          <span>
            <strong>date :</strong> {{ comment.date }}</span>
          <hr>
          <br>
        </div>

      </mat-card-content>

      <mat-card-actions>
        <button mat-button>Like</button>
        <button mat-button>Share</button>
      </mat-card-actions>

    </mat-card>
  </div>

</div>

<!-- <app-product-detail [product]="selectedProduct"></app-product-detail> -->