<header class="h-100 sw-header">
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg scrolling-navbar intro-fixed-nav navbar-dark white"
    [containerInside]="true">

    <mdb-navbar-brand>
      <a class="logo navbar-brand" href="#" routerLink='/home'>
        <img src="/assets/images/logo.png" height=30 width=41>
      </a>
    </mdb-navbar-brand>


    <links class="header-nav">
      <ul class="navbar-nav mr-auto navbar-right">
        <li class="nav-item waves-light" mdbWavesEffect>
          <!-- <a class="nav-link">Home <span class="sr-only">(current)</span></a> -->
          <a routerLink='/home' routerLinkActive="active" class="nav-link">
            Home
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a routerLink="/about" routerLinkActive="active" class="nav-link">
            About
          </a>
        </li>
        <!-- <li class="nav-item waves-light" mdbWavesEffect>
          <a routerLink="/menu" routerLinkActive="active" class="nav-link">
            Menu
          </a>
        </li> -->

        <li class="nav-item waves-light" mdbWavesEffect>
          <a routerLink="/productsall" routerLinkActive="active" class="nav-link">
            Products
          </a>
        </li>

        <li class="nav-item waves-light" mdbWavesEffect>
          <a routerLink="/contact" routerLinkActive="active" class="nav-link">
            Contact
          </a>
        </li>
        <li class="nav-item waves-light float-right" mdbWavesEffect>
          <a (click)="openLoginForm()" class="nav-link">
            <span class="fa fa-sign-in fa-lg"></span> Login
          </a>
        </li>
      </ul>


      <!-- Search form -->
      <form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form mt-0 mb-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
        </div>
      </form>
    </links>

  </mdb-navbar>
</header>



<br>
<br>
<br>
<br>