<header class="h-100 sw-header">
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg scrolling-navbar intro-fixed-nav navbar-dark white"
    [containerInside]="true">

    <mdb-navbar-brand>
      <a class="logo navbar-brand" href="#" routerLink='/home'>
        <img src="/assets/images/logo.png" height=30 width=41>
      </a>
    </mdb-navbar-brand>


    <links class="header-nav">
      <ul class="navbar-nav mr-auto navbar-right">
        <li class="nav-item waves-light" mdbWavesEffect>
          <!-- <a class="nav-link">Home <span class="sr-only">(current)</span></a> -->
          <a routerLink='/home' routerLinkActive="active" class="nav-link">
            Home
          </a>
        </li>

        <li class="nav-item waves-light" mdbWavesEffect>
          <a routerLink='/addProduct' routerLinkActive="active" class="nav-link">
            Add Product
          </a>
        </li>

        <li class="nav-item waves-light" mdbWavesEffect>
          <a routerLink="/about" routerLinkActive="active" class="nav-link">
            About
          </a>
        </li>

        <!-- <li class="nav-item waves-light" mdbWavesEffect>
          <a routerLink="/menu" routerLinkActive="active" class="nav-link">
            Menu
          </a>
        </li> -->

        <li class="nav-item waves-light" mdbWavesEffect>
          <a routerLink="/productsall" routerLinkActive="active" class="nav-link">
            ADMIN
          </a>
        </li>

        <li class="nav-item waves-light" mdbWavesEffect>
          <a routerLink="/contact" routerLinkActive="active" class="nav-link">
            Contact
          </a>
        </li>

        <li class="nav-item waves-light float-right" mdbWavesEffect>
          <a (click)="openLoginForm()" class="nav-link">
            <span class="fa fa-sign-in fa-lg"></span> Login
          </a>
        </li>

        <li class="nav-item waves-light" mdbWavesEffect>
          <a routerLink="/cart" routerLinkActive="active" class="nav-link">
            Cart
          </a>
        </li>


        <li class="nav-item waves-light" mdbWavesEffect>
          <a routerLink="/checkout" routerLinkActive="active" class="nav-link">
            checkout
          </a>
        </li> 
        <!-- <li class="nav-item ">
          <a routerLink="/cart" class="nav-link dark-grey-text font-weight-bold waves-effect waves-light"  data-toggle="modal"
            data-target="#cart-modal-ex">
            <i class="fas fa-shopping-cart blue-text" aria-hidden="true"></i>
            <span class="clearfix d-none d-sm-inline-block">Cart</span>
          </a>
        </li> -->
 
      </ul>


      <!-- Search form -->
      <form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form mt-0 mb-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
        </div>
      </form>
    </links>
    <!-- 
    <ul class="navbar-nav ml-auto">
       
        <li class="nav-item ml-3">
            <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" href="#">
                <i class="fas fa-cog blue-text"></i> Settings</a>
        </li>
        <li class="nav-item dropdown ml-3">
            <a class="nav-link dropdown-toggle waves-effect waves-light dark-grey-text font-weight-bold" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user blue-text"></i> Profile </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
                <a class="dropdown-item waves-effect waves-light" href="#">My account</a>
                <a class="dropdown-item waves-effect waves-light" href="#">Log out</a>
            </div>
        </li>
    </ul> -->

  </mdb-navbar>
</header>



<br>
<br>
<br>
<br>