$background-moredark: #4527A0;
.active {
    background: $background-moredark;
}

/* .sw-home-carousel {
    margin-top: 30px;
    border: 1px solid #f00;
} */

/*Promotion Style Starts*/

.promotion-container {}

.collection-card .stripe.light {
    background-color: rgba(255, 255, 255, .7);
}

.collection-card .stripe.dark {
    background-color: rgba(0, 0, 0, .7);
}

.collection-card .stripe.dark a p {
    color: #eee;
}

.collection-card .stripe.light a p {
    color: #424242;
}

.collection-card .stripe {
    position: absolute;
    bottom: 3rem;
    width: 100%;
    text-align: center;
    padding: 1.2rem;
}

/*Promotion Style Ends*/